/* General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Transation */
a,
.btn {
  transition: all 300ms ease;
}

/* Desktop Nav */
nav,
.navLinks {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.navLinks,
.menuLinks {
  gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
}

a {
  color: #000000;
  text-decoration: none;
  text-decoration-color: #fff;
}
a:hover {
  color: #dc143c;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.logo img {
  height: 90px;
  width: 90px;
}
logo:hover {
  cursor: default;
}

/* Hamburger */
#hamburgerNav {
  display: none;
}
.hamMenu {
  position: relative;
  display: inline-block;
}
.hamIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamIcon span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3 ease-in-out;
}
.menuLinks {
  position: absolute;
  top: 100%;
  right: 100%;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menuLinks a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menuLinks li {
  list-style: none;
}
.menuLinks.open {
  max-height: 300px;
}
.hamIcon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamIcon.open span:nth-child(2) {
  opacity: 0;
}
.hamIcon.open span:nth-child(3) {
  opacity: 0;
}
.hamIcon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamIcon span:first-child {
  transform: none;
}
/* Profile */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
/* section */
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section_title {
  font-size: 3rem;
  text-align: center;
}
.section_pic img {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  /* border-radius: 50%; */
}
.section_container {
  align-self: center;
  text-align: center;
}
.section_text p {
  font-weight: 600;
}
.section_text_p1 {
  text-align: center;
}
.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
/* button */
.section_btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn_color1,
.btn_color2 {
  border: #353535 0.1rem solid;
}
.btn_color1:hover,
.btn_color2:hover {
  cursor: pointer;
}
.btn_color1,
.btn_color2:hover {
  background: #353535;
  color: #fff;
}
.btn_color1:hover {
  background-color: #000;
}
.btn_color2 {
  background: none;
}
.btn_color2:hover {
  border: #fff 0.1rem solid;
}
/* Socials */
#section_socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  height: 2rem;
}
/* About */
#about {
  position: relative;
}
.section_about {
  justify-content: center;
  flex-direction: column;
}
.section_aboutDetails {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.section_about,
.section_aboutDetails {
  display: flex;
}
.details {
  padding: 1.5rem;
  flex: 1;
  background: #fff;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}
#about .section_container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 4rem;
  height: 80%;
}
.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}
#about .section_pic{
  height: 400px;
  width: 400px;
  margin: auto 0;
  border-radius: 2rem;
  background: #e8e8e8;
}